venv/

carbonjar/data/raw/*
carbonjar/data/processed/*
carbonjar/data/json/*
carbonjar/exiobase/*
#carbonjar/logs/*


!carbonjar/data/raw/.gitkeep
!carbonjar/data/processed/.gitkeep
!carbonjar/exiobase/.gitkeep


__pycache__/
*.pyc
*.pyo
*.pyd
#logs/              # les logs Airflow (racine)
#airflow.cfg
#unittests.cfg
